/* Cores ------------------------------------------------------------------------ */
.cor_branca {
    color:#FFFFFF;
}

.cor_rosa_claro 
{
    color:#FBD3DF;
}

.cor_pink {
    color: #F7366C;
}

.cor_bege {
    color: #EFE0AF;
}