/* Vantagens --------------------------------------------------------------------- */
.vantagens_options {
    /* background-color: #753100; */
    display: flex;
    height: 118px;
}

#vantagens {
    display: flex;
    justify-content: center;
    background-color: #D3F1FB;
    border-bottom: 2px solid #D3F1FB;
    padding: 35px;
}

.vp1,
.vp2,
.vp3 {
    /* background-color: #e7d3a8; */
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


/* Media Query - Vantagens --------------------------------------------*/

@media (max-width:420px) {
    #vantagens {
        display: flex;
        overflow-x: auto;
        justify-content: center;

    }

    .vantagens_options {

        margin-left: 390px;


    }

    #vantagens::-webkit-scrollbar {
        display: none;
    }
}